[submodule "Vim/vimfiles/bundle/nerdtree"]
	path = Vim/vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "Vim/vimfiles/bundle/syntastic"]
	path = Vim/vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "Vim/vimfiles/bundle/vim-airline"]
	path = Vim/vimfiles/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
